*{
    margin: 0;
    padding: 0;
}
html,body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.nav-btn {
    background: #645B5B;
    color: white;
    border-radius: 0;
}

header .land {
    padding: 20px;
    background-image: url(../images/land.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
    text-align: center;
}

.land-text > .cta-btn {
    background: #645B5B;
    color: white;
    border-radius: 0;
    padding: 5px 20px 5px 20px;
}

.section-header {
    background: #979797;
    padding: 10px;
    text-align: center;
    width: fit-content;
    margin: 10px auto;
    font-size: 1rem;
}

.about-us h2 {
    
    text-align: center;
}

.wrapper {
    background: #EFEFEF;
    margin: 70px 0px 30px 0px;
    
}

.about-p {
    line-height: 34px;
    font-weight: normal;
    color: #343434;
}

.about-img > img {
    position: relative;
    bottom: 30px;

}
.about-text {
    padding: 20px;
}
.about-text > hr {
    width: 60px;
    border: 1.5px solid #4F4F4F
}

section {
    margin: 58px 0px 30px 0px;
}
/* .how-section > .col-md-4{
    padding: 20px;
    background: red !important;
} */
.how-section h2 {
    
    text-align: center;
    margin: 27px;
    
}


.get-started {
    background-image: url(../images/business.jpg);
    background-size: cover;
    padding: 50px;
    color: white;
    background-blend-mode: darken;
    text-align: center;
}

.cta-get-btn {
    background: #645B5B;
    color: white;
    border-radius: 0;
    padding: 5px 20px 5px 20px;
    margin: 10px auto;
}

footer {
    margin-top: 3%;
    padding: 20px;
}

.foot-text {
    font-weight: bold;
    color: #60281C;
}

.foot-links p {
    color: #60281C;
}
.foot-links {
    text-decoration: none;
    list-style-type: none;
    
}

.foot-links a {
    color: black;
}
.foot-form input[type="email"]{
    padding: 10px;
    border:1px solid #60281C ;
}




















/* media queries */

@media screen and (min-width: 768px) {
   header > .land {
       text-align: left;
       height: 70vh;
       

   }
   .land-text{
    position: relative;
    top: 121px;
    left: 22px;
   }
}

@media screen and (max-width: 768px) {
    

    header > .land {
        text-align: left;
        height: 50vh;
    }
    footer {
        text-align: center;
    }
}